<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>{{pageTitle}}</h2>
    <br>
    <h3>{{msg}}</h3>
    <br>
    <footer>Copyright {{date}}</footer>
</body>
</html>